body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

h1 {
  font-family: Courier;
}

.HauptmenueText {
  text-decoration: underline;
}

a {
  color: black;
  text-decoration: none;
  width: auto;
  font-size: 22px;
}
