body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: green;
}

h1 {
  font-family: Courier;
}

.UeberschriftE{
  text-decoration: underline;
}
.RedSaar{
  color: red;
}
.HauptmenueText
{
  text-decoration: underline;
}
a{
  color: black;
  text-decoration: none;
  width: auto;
  font-size: 20px;
  border: 1px solid white;
}
