body {
  font-family: "Open Sans", sans-serif;
  background-color: darkgray
}
.UeberschriftE{
  text-decoration: underline;
}
.RedSaar{
  color: red;
}
.HauptmenueText
{
  text-decoration: underline;
}
a{
  color: black;
  text-decoration: none;
  width: auto;
  font-size: 20px;
}
