body {
    font-family: "Open Sans", sans-serif;
    /* Gute Schriftgröße auf Mobilgeräten */
    font-size: 17px;
    width: 100%;
}

h1, h2, h3, h4 {
    margin-top: 20px;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.4rem;
}

/* -- MENUE -- */
.uk-offcanvas-bar {
    /* Entfernt Abstände */
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.uk-nav-default {
    font-size: 1.25rem;
}

#menue-logo {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
    width: 100%;
    height: 50px;
}

.uk-navbar {
    border-bottom: 1px solid #dddddd;
}

#menue-eintraege {
    padding-left: 12px;
    padding-top: 10px;
}

.logo {
    height: 50px;
}

.logo-text {
    margin-top: 12px;
}

.logo-bild {
    margin-right: 10px;
}

/* -- COUNTDOWN -- */
.uk-countdown {
    text-align: center;
}

.uk-countdown-number {
    font-size: 3em;
}

.uk-countdown-separator {
    font-size: 2em;
}

/* -- SONSTIGES -- */
#erstes-element {
    /* Fügt einen kleinen Abstand unter der Menüleiste ein.
     * TODO: Eleganter lösen
     */
    margin-top: 10px;
}

.uk-section {
    /* Abstand überhalb einer section entfernt */
    padding-top: 0;
    padding-bottom: 20px;
}

#kalender-button {
    width: 100%;
}

#event-kalender-keine-verbindung {
    margin-top: 15%;
    margin-left: 40%;
    width: 5%;
}