body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

h1 {
  font-family: Courier;
}

a {
  color: black;
  text-decoration: none;
  width: auto;
  font-size: 22px;
}

#Menue {
	background-color: #87CEFA;
	height: 50px;
}